:root {
	--main-bg: #ffffff;
	--second-bg: #fafafb;
	--txt-color: #455560;
	--txt-white: #fff;
	--main-color: #349eff;
	--second-color: #ed823a;
	--box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

	--main-bg-light: #ffffff;
	--second-bg-light: #fafafb;
	--txt-color-light: #455560;
	--box-shadow-light: rgba(149, 157, 165, 0.2) 0px 8px 24px;

	--main-bg-dark: #2d2d2d;
	--second-bg-dark: #202020;
	--txt-color-dark: #bbbbbb;
	--box-shadow-dark: rgba(0, 0, 0, 0.2) 0px 5px 10px;

	--main-color-blue: #fe9843;
	--second-color-blue: #62b4ff;

	--main-color-red: #fb0b12;
	--second-color-red: #ff4a6b;

	--main-color-cyan: #10d4d2;
	--second-color-cyan: #2ae9e6;

	--main-color-green: #019707;
	--second-color-green: #4caf50;

	--main-color-orange: #d68102;
	--second-color-orange: #fca11a;

	--sidebar-width: 300px;
	--border-radius: 15px;
	--topnav-height: 80px;
	--transition-cubic: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

#container {
	position: absolute;
	top: 0;
	left: 0;
	background: transparent;
	height: 100%;
	width: 100%;
	z-index: 9999999;
}

a {
	text-decoration: none;
	color: unset;
}

a:hover {
	color: var(--main-color);
}

button {
	cursor: pointer;
	border: 0;
	outline: 0;
	color: var(--txt-color);
}

ul {
	list-style-type: none;
}

input {
	font-family: "work sans", sans-serif;
	font-size: 0.9rem;
}

input:focus {
	border: 2px solid var(--main-color);
}

.page-header {
	margin-bottom: 20px;
	text-transform: capitalize;
	font-size: 3rem;
	font-weight: 800;
	color: #1f2937;
	text-align: center;
}

.card {
	margin: 10px;
	padding: 30px;
	background-color: var(--main-bg);
	box-shadow: var(--box-shadow);
	border-radius: var(--border-radius);
}

.card-login {
	padding: 30px;
	margin-bottom: 30px;
	background-color: var(--main-bg);
	box-shadow: var(--box-shadow);
	border-radius: var(--border-radius);
}

.full-height {
	height: 100%;
}

.card.full-height {
	position: relative;
	margin-bottom: 10rem;
}

.card__header {
	text-transform: capitalize;
}

.card > div ~ div {
	margin-top: 30px;
}

.card__footer {
	text-align: center;
	text-transform: capitalize;
}

.light-background {
	background-color: var(--main-bg-light);
	color: #000;
}

.dark-background {
	background-color: var(--main-bg-dark);
	color: #fff;
}

.blue-color {
	background-color: var(--main-color-blue);
	color: #fff;
}

.red-color {
	background-color: var(--main-color-red);
	color: #fff;
}

.cyan-color {
	background-color: var(--main-color-cyan);
	color: #fff;
}

.green-color {
	background-color: var(--main-color-green);
	color: #fff;
}

.orange-color {
	background-color: var(--main-color-orange);
	color: #fff;
}

.custom-control-label {
	font-weight: 400;
}

.forgot-password,
.forgot-password a {
	text-align: right;
	font-size: 13px;
	padding-top: 10px;
	color: #7f7d7d;
	margin: 0;
}

.forgot-password a {
	color: #167bff;
}

::-webkit-scrollbar {
	width: 0;
	background: transparent;
}
