@import url("https://fonts.googleapis.com/css?family=Open+Sans:600|Work+Sans:400,500,600,700&display=swap");

body {
	background: rgb(219, 219, 219);
	background: #f8f7f7;
	font-family: "work sans";
}

html {
	font-size: 100%;
}

#loginform {
	width: 30%;
	height: 60%;
	margin: 100px auto;
	background: #ffffff;
	border-radius: 20px;
	box-shadow: var(--box-shadow);
}

#headerTitle {
	text-align: center;
	font-family: "open sans", sans-serif;
	padding: 2rem 0;
	margin: 0;
	font-size: 2rem;
}

.rowlogin {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 2rem;
	max-width: 100%;
}

.rowlogin input {
	width: 80%;
	box-sizing: border-box;
	border: none;
	font-size: 1.1rem;
	padding-bottom: 1rem;
	box-shadow: inset 0px -3px 0px 0px rgba(187, 187, 187, 0.2);
	transition: box-shadow 0.2s ease-in;
	font-family: "work sans", sans-serif;
	font-weight: 500;
	color: #283343;
}
input:focus {
	outline: none;
	border: none;
	border-style: none;
}
*:focus {
	outline: none;
	border: none;
	border-style: none;
}
.rowlogin input:focus {
	box-shadow: inset 0px -3px 0px 0px var(--main-color-blue);
	outline: none;
	border: none;
	border-style: none;
}

.rowlogin input::-webkit-input-placeholder {
	opacity: 1;
	transition: opacity 0.25s ease-out;
	font-size: 1rem;
	font-family: "work sans", sans-serif;
	font-weight: 500;
	color: rgba(202, 202, 202, 0.9);
}

.rowlogin input:hover::-webkit-input-placeholder,
.rowlogin input:focus::-webkit-input-placeholder {
	opacity: 0;
}

.rowlogin label {
	align-self: start;
	padding-left: 4rem;
	padding-bottom: 0.5rem;
	color: #1f2937;
	font-weight: 600;
	font-size: 1.2rem;
}

.rowlogin button {
	font-family: "work sans", sans-serif;
	border-radius: 5px;
	width: 80%;
	height: 50px;
	font-size: 1.3rem;
	color: white;
	font-weight: 600;
	background: linear-gradient(to right, var(--main-color-blue), var(--second-color));
	color: var(--txt-white);
	border: 0px;
	cursor: pointer;
	transition: opacity 0.25s ease-out;
}

.rowlogin button:hover {
	opacity: 0.8;
}

#button {
	padding-bottom: 1.5rem;
	padding-top: 2rem;
	margin-top: 1.5rem;
}

#facebookIcon {
	background-image: url("https://image.flaticon.com/icons/svg/145/145802.svg");
	background-repeat: no-repeat;
	width: 3rem;
	height: 3rem;
}

#twitterIcon {
	background-image: url("https://image.flaticon.com/icons/svg/145/145812.svg");
	background-repeat: no-repeat;
	width: 3rem;
	height: 3rem;
}

#googleIcon {
	background-image: url("https://image.flaticon.com/icons/svg/145/145804.svg");
	background-repeat: no-repeat;
	width: 3rem;
	height: 3rem;
}

#iconGroup {
	display: flex;
	justify-content: center;
	padding: 2rem 0;
}

#iconGroup a {
	margin: 0 0.6rem;
}

#alternativeLogin {
	text-align: center;
	padding-top: 2rem;
	margin-top: 1.5rem;
}

@media screen and (max-width: 900px) {
	#loginform {
		width: 80%;
		height: 60%;
		margin: 100px auto;
		background: #ffffff;
		border-radius: 25px;
		box-shadow: var(--box-shadow);
	}
}
