.rowuser{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    justify-content: center;
}
.rowusermeasure{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 1rem;
    justify-content: center;
}
.rowuserradio{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    justify-content: center;

}

.rowuserradio label{
    align-self: start;
    padding-left: 3rem;
    padding-bottom: 0.5rem;
    color: rgba(136, 136, 136, 0.9);
}

.rowuser input{
    width: 80%;
    box-sizing: border-box;
    border: none;
    font-size: 1.3rem;
    padding-left: 1.5rem;
    padding-bottom: 1rem;
    box-shadow: inset 0px -3px 0px 0px rgba(187, 187, 187, 0.2);
    transition: box-shadow 0.2s ease-in;
}
.rowuserproductivity{
    width: 80%;
    box-sizing: border-box;
    border: none;
    font-size: 1.3rem;
    padding-left: 1.5rem;
    padding-bottom: 1rem;
    box-shadow: inset 0px -3px 0px 0px rgba(187,187,187,0.2);
    transition: box-shadow 0.2s ease-in;
}
.rowuser select{
    width: 80%;
    box-sizing: border-box;
    border: none;
    font-size: 1.3rem;
    padding-left: 1.5rem;
    padding-bottom: 1rem;
    box-shadow: inset 0px -3px 0px 0px rgba(187,187,187,0.2);
    transition: box-shadow 0.2s ease-in;
}
.option{
    border-radius: 15px;
}
input:focus {
    outline:none;
    border:none;
    border-style: none;
}
*:focus {
    outline: none;
    border:none;
    border-style: none;
}
.rowuser input:focus{
    box-shadow: inset 0px -3px 0px 0px rgb(98, 180, 255);
    outline:none;
    border:none;
    border-style: none;
}

.rowuser input::-webkit-input-placeholder{
    opacity: 1;
    transition: opacity 0.25s ease-out;
}

.rowuser input:hover::-webkit-input-placeholder,
.rowuser input:focus::-webkit-input-placeholder{
    opacity: 0;
}

.rowuser label{
    align-self: start;
    padding-left: 4.5rem;
    padding-bottom: 0.5rem;
    color: rgba(187,187,187,0.9);
}

.rowuser button{
    border-radius: 15px;
    width: 80%;
    height: 50px;
    font-size: 1.3rem;
    color: white;
    font-weight: 700;
    background: rgb(6, 81, 140);
    background: linear-gradient(
            to right,
            var(--main-color-blue),
            var(--second-color)
    );
    color: var(--txt-white);
    border: 0px;
    cursor: pointer;
    transition: opacity 0.25s ease-out;
}

.rowuser button:hover{
    opacity: 0.8;
}

#button{
    padding-bottom: 1.5rem;
    padding-top: 2rem;
    margin-top: 1.5rem;
}
.form-imguser {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 10px 10px 10px 10px;

}
.usertblbutton{
    border-radius: 5px;
    width: 60%;
    height: 30px;
    font-size: 1.3rem;
    color: white;
    font-weight: 700;
    background: rgb(6, 81, 140);
    background: linear-gradient(
            to right,
            var(--main-color-red),
            var(--second-color-red)
    );
    color: var(--txt-white);
    border: 0px;
    cursor: pointer;
    transition: opacity 0.25s ease-out;
}

.usertblbutton:hover{
    opacity: 0.8;
}

a:hover {
    color: var(--main-color);
}

.usertblactivebutton{
    border-radius: 5px;
    width: 60%;
    height: 30px;
    font-size: 1.3rem;
    color: white;
    font-weight: 700;
    background: rgb(243, 243, 243);
    background: linear-gradient(
            to right,
            var(--main-color-green),
            var(--second-color-green)
    );
    color: var(--txt-white);
    border: 0px;
    cursor: pointer;
    transition: opacity 0.25s ease-out;
}
.usertblactivebutton:hover{
    opacity: 0.8;
}
@media screen and (max-width: 900px) {
    .rowuser input{
        width: 60%;
        box-sizing: border-box;
        border: none;
        font-size: 1.3rem;
        padding-left: 1.5rem;
        padding-bottom: 0.5rem;
        box-shadow: inset 0px -3px 0px 0px rgba(187, 187, 187, 0.2);
        transition: box-shadow 0.2s ease-in;
    }
    .rowuser label{
        align-self: start;
        padding-left: 5rem;
        padding-bottom: 0.5rem;
        color: rgba(187,187,187,0.9);
    }
    .rowuser select{
        width: 60%;
        box-sizing: border-box;
        border: none;
        font-size: 1.3rem;
        padding-left: 1.5rem;
        padding-bottom: 1rem;
        box-shadow: inset 0px -3px 0px 0px rgba(187,187,187,0.2);
        transition: box-shadow 0.2s ease-in;
    }
    .usertblbutton{
        border-radius: 5px;
        width: 90%;
        height: 30px;
        font-size: 0.8rem;
        font-weight: 700;
        border: 0px;
    }
    .usertblactivebutton{
        border-radius: 5px;
        width: 90%;
        height: 30px;
        font-size: 0.8rem;
        font-weight: 700;
        border: 0px;
    }
}
@media screen and (max-width: 600px) {
    .rowuser input{
        width: 50%;
        box-sizing: border-box;
        border: none;
        font-size: 0.8rem;
        padding-left: 1rem;
        padding-bottom: 0.5rem;
        box-shadow: inset 0px -3px 0px 0px rgba(187, 187, 187, 0.2);
        transition: box-shadow 0.2s ease-in;
    }
    .rowuser label{
        align-self: start;
        padding-left: 4.5rem;
        padding-bottom: 0.5rem;
        color: rgba(187,187,187,0.9);
    }
    .rowuser select{
        width: 50%;
        box-sizing: border-box;
        border: none;
        font-size: 0.8rem;
        padding-left: 1rem;
        padding-bottom: 1rem;
        box-shadow: inset 0px -3px 0px 0px rgba(187,187,187,0.2);
        transition: box-shadow 0.2s ease-in;
    }

}